# dependencies
node_modules/

# next.js
.source/
.next/
out/

# env files
.env
.env*.local

# generated docs (run npm run generate:docs to rebuild)
content/docs/models/api/
content/docs/product/api/
content/docs/catalog/api/
content/docs/project/api/
content/docs/keyring/api/


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
